*{
    box-sizing: border-box;
}
body{
    *margin: 0;
    background-image: url(css.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;*/
}
header{
    background: transparent;
    backdrop-filter: blur(3px);
    text-align: center;
    padding: 25px;
}
.navbar ul{
    list-style-type: none;
    background: transparent;
    backdrop-filter: blur(3px);
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}
.navbar a{
    color: beige;
    text-decoration: none;
    padding: 20px;
    display: block;
    text-align: center;
}
.navbar li{
    float: left;
}
.navbar a:hover{
    background-color: rgb(15, 10, 10);
}
aside{
    width: 20%;
    float: left;
    padding: 10px;
}
section{
    width: 40%;
    float: left;
    padding: 10px;
}
article{
    width: 40%;
    float: left;
    padding: 10px;
}

footer{
    display: block;
    clear: both;
    background: transparent;
    backdrop-filter: blur(3px);
    text-align: center;
    padding: 25px;
}